html,
body,
#root {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit; /* Consistent sizing across all elements */
}

.container {
  /* width: 100%;
  max-width: 800px; */
  border: 1px solid darkgray;
  border-radius: 5;
  /* padding: 2rem; */
  /* word-wrap: balance;
  margin: auto;
  padding: auto; */
}

.election-container {
  padding: 0;
  margin: 0;
  /* border: 1px solid aqua; */
}

.search-bar {
  width: 100%;
  /* border: 1px solid green; */
}

.app-title {
  width: 100%;
  /* border: 1px solid blue; */
}

.movie-poster-thumbnail {
  /* border: 1px lightgray solid; */
  border-radius: 5px;
  width: 10%;
  height: auto;
}

.movie-details {
  /* border: 1px solid red; */
  padding: 2px;
}

.movie-details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.movie-list {
  /* border: 1px solid yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.movie-list-item {
  /* border: 1px solid lightgray; */
  width: 100%;
}

.movie-title {
  font-weight: 700;
}

@media (min-width: 768px) {
  .movie-poster-thumbnail {
    width: 50px;
    height: auto;
  }
}
